@{
    ViewBag.Title = "Faq";
}


    <div class="wrapper">
        <div class="hero"></div>
        <div class="contactInfo"> 
            <div class="contactInfoInner">
            <span class="fontawesome-remove-sign"></span>
            <img />
                <h1>This is the mentor information.</h1> 
            <p>This is where your databash get code will go. We'll need to have a look inside you with this camera. No, I'm Santa Claus! Quite possible. We live long and are celebrated poopers. You'll have all the Slurm you can drink when you're partying with Slurms McKenzie</p>
            <div class="clear"></div>
            </div>
        </div>
         <h1>Project Management</h1>

        <img class="mentor" />
        <img class="mentor" />
        <img class="mentor" />
        <img class="mentor" />
         <h1>Business Analysts</h1>

        <img class="mentor" />
        <img class="mentor" />
        <img class="mentor" />
        <img class="mentor" />
         <h1>User Interface</h1>

        <img class="mentor" />
        <img class="mentor" />
        <img class="mentor" />
        <img class="mentor" />
        
<h1>Software Engineers</h1>

        <img class="mentor" />
        <img class="mentor" />
        <img class="mentor" />
        <img class="mentor" />
    </div>

<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script type="text/javascript" >





    $(function () {
        var contact = $('.mentor'),
            popup = $('.contactInfo'),
            mask = $('.mask'),
            close = $('.contactInfo span');

        contact.click(function () {
            $('<div class="mask" />').prependTo('body');
            mask.css({ 'width': $('html').outerWidth(), 'height': $('html').height() });
            centerPopUp(popup, mask);
            popup.slideDown(200);
        });
        close.click(function () {
            popup.slideUp(200);
            $('.mask').remove();
        });

        function centerPopUp(pop, m) {
            var winH = $(window).height(),
                winW = $(window).outerWidth(),
                popH = $(pop).height(),
                popW = $(pop).width();

            //Set the popup window to center
            if (screen.height > 640) {
                $(pop).css('top', Math.max((winH - popH), 0) / 2);
                $(pop).css('left', Math.max((winW - popW), 0) / 2);
            } else {
                return false;
            }

            //Stretch FilterMask to Full Size
            $(m).width(winW + 20);
            $(m).height(winH);
        }

        $(window).resize(centerPopUp(popup, mask));

    });
</script>

