@{
    ViewBag.Title = "Gain";
}
<div style="font-size:17px">
<div id="gainBackground">
    <p class="backgroundWordBox">What You Gain         </p>
</div>

<div class="infoBox">
    <h1 class="infoBoxHeader">What You Gain</h1>
    <div class="infoBoxContent">
        <p>
            In ten weeks you are transformed during your journey though this process. 
        Your energy and efforts are rewarded by gaining proficiency in:
        </p>
        <ul>
            <li>Use of many software programs</li>
            <li>Web development and design</li>
            <li>Business methodologies and project management</li>
            <li>Positive thinking and empowerment</li>
            <li>Professional culture, Professional experience</li>
            <li>Job shadowing with mentors ad CEOs</li>
        </ul>
        <p>
            All of these skill sets are much in demand today in an otherwise weak economy.
        This is a journey and a transformation that other students pay thousands of dollars
        to other programs to experience and that you are offered here for free!
        </p>
       
    </div>
</div>
<div class="infoBox">
    <h1 class="infoBoxHeader">Other Benefits</h1>
    <div class="infoBoxContent">
        <ul>
            <li>First of all, the IT in the D program helps to bridge the divide between the skills that
                students learn in traditional academic settings and those that the workplace actually requires.
                This goes a long way toward making the program's alumini ready and able to take on new employment
            </li>
            <li>The program opens up the chance for the participant to test the IT waters and to assess his or her
                fit to the field before making commitments to any particular position or employer
            </li>
            <li>The program likewise grants its students the golden opportunity to network and make valuable 
                contacts in the IT field:
                <ul>
                    <li>
                        Executives and other personnel of the participating company's mentor students in job search
                        methods, including resume writing and interviewing techniques. This not only affords contact
                        with good-to-know professionals, it also sensitizes the student participants to precisely what
                        employers are looking for when considering the applications for employment
                    </li>
                    <li>
                        Equally beneficial is the encouragement offered by the company sponsors for their participants
                        to get acquainted individually with their excecutives and other personnel
                    </li>
                    <li>
                        So is the invitation to "shadow" them in order to gain a first-hand look at what goes into 
                        the making of a typical workday
                    </li>
                    <li>
                        After successfully completing the course, students are presented with certificates of
                        accomplishment and are offered to access additional resources. Not the least of these are 
                        supportive contacts with professionals withing the partnering companies and assistance 
                        with job placement
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
    </div>
<div class="infoBox">

</div>