@{
    ViewBag.Title = "Home Page";
}

<div id="landingBackground" >
    <div style="text-align:center">
        <iframe width="560" height="315" src="//www.youtube.com/embed/9lJSn7lSJU0" frameborder="0" allowfullscreen>
    </iframe></div>
</div>

<div id="whatIs">
    <div>
        <h1 class="whatIsHeader">What is IT in the D?</h1>
        <p class="whatIsContent"><b>IT in the D</b> is a non-profit
            training program in Information Technology sponsored by a partnership of leading Detroit-based
            companies. The program offers continuing education, mentoring and valuable real-world 
            experience to up-and-coming IT professionals.
        </p>
    </div>
    <div>
        <h1 class="whatIsHeader">What is our mission?</h1>
        <p class="whatIsContent">Our mission is to help our program's
            participants develop appropriate work attitudes and skills that are responsive to the 
            industry's actual hiring needs.
        </p>
    </div>
    <div >
        <h1 class="whatIsHeader"">What is our goal?</h1>
        <p class="whatIsContent">Out ultimate goal is the same as what
            led us initially to locate out corporate headquarters in downtown Detroit. We are commited to 
            Detroit's future and its resurgence as a hard hitter in economic growth. We want to help spearhead
            the revitalization of the city be reinventing it and its economy, enabling Detroit once again to
            take a leadership role in the functioning of the dominant economic engine of the times.
        </p>
    </div>
</div>