@{
    ViewBag.Title = "Home Page";
}

<div id="landingBackground" >
    </div>
    <div class="whatIs">
        <div>

        <h1 class="whatIsHeader">What is IT in the D?
            <div style="text-align: left; width: 300px">
        <iframe width="300" height="200" src="//www.youtube.com/embed/nHEZ3NX84ws" frameborder="0" allowfullscreen>
    </iframe>
        </h1></div>
        
        <p class="whatIsContent"><b>IT in the D</b> is a training program in Information Technology sponsored by leading Detroit-based companies. The program offers continuing education, mentoring and valuable real-world work experience to up-and-coming IT professionals.  <br /> <br /> 
      Our mission is to help our program’s participants develop appropriate work attitudes and skills that are responsive to the industry’s actual hiring needs.  <br /><br /> 
      Our ultimate goal is the same as what led us initially to locate our corporate headquarters in downtown Detroit.  We are committed to Detroit’s future and its resurgence as a hard hitter in economic growth.  We want to help spearhead the revitalization of the city by reinventing it and its economy.  We are convinced that these advances will enable Detroit once again to move into a leadership role in the functioning of the dominant economic engine of the times.
            <br />
            <a href="~/Home/What"><img src="~/Content/Images/LearnMoreButton.png" /></a>


        <div class="clear"></div>
    </div>
    