@{
    ViewBag.Title = "Learning";
}

<div id="learningBackground">
    <p class="backgroundWordBox">Experiential Learning</p>
</div>

<div class="infoBox">
    <h1 class="infoBoxHeader">How the program works</h1>
    <div class="infoBoxContent" style="font-size:18px">
        The IT in the D program takes a non-conventional, learn-by-doing, apprenticeship-like approach.
    This helps to fill the gap left when too many employers in recent years stopped offering what had
    long been the general practice of training new hires to acquaint them with what was expected
    of them in their new workplace.
        <ul>
            <li>Mentors offer presentations and coach participants in their training sessions</li>
            <li>The real learning and reinforcement takes place in the process of actively 
                working on actual ongoing company group projects</li>
            <li>No tests or quizzes -- progress is gauged by the student's commitment to the work and
                the soundness of his/her output</li>
        </ul> 
    </div>
</div>