@{
    ViewBag.Title = "IT in the D What";
}



<div id="whatBackground">
    <p class="backgroundWordBox">IT in the D What</p>
    
    </div>
<b><font size="3" color="Black"><br />IT in the D</b> is a 10 week learning program conducted by volunteer, actively emploted IT professionals.</font>

    <p>
        <font size="3">IT in the D is </font><img src="~/Content/Images/10Weeks.png" /><img src="~/Content/Images/PerfectFor.png" /><a href="http://maps.google.com/?q=Compuware World Headquarters, Detroit, MI"><img src="~/Content/Images/GoogleMap.png" /></a>
    </p>
<article>
    <h3 align="center">
        What you Will learn
    </h3>
    <body>
        <b>Your choice of:</b>
        <ul><b>Technical Skills</b>
            <li>Web development: Visual Studio, SQL, ASP.Net MVC and GitHub</li>
            <li>Web Design: User Interface techniques and such tools as Trello and Balsamiq</li>

        </ul>
        <ul><b>Business Analysis</b>
            <li>Ananlysis of business and user needs and their translation into proper syste requirement specifications</li>
            <li>Use of analytics</li>
        </ul>
        <ul><b>Program Management</b>
            <li>Planning, execution and finalization of a project within set timelines and budgetary restrictions</li>
            <li>Includes Agile Development and Social Strategy</li>
        </ul>
        <ul><b>And all gain experience in soft skills</b>
            <li>Responding effectively to what the task entails</li>
            <li>Teamwork</li>
            <li>And presentation of work</li>
        </ul>

    </body>
</article>


