@{
    ViewBag.Title = "IT in the D What";
}



<div id="whatBackground">
    <p class="backgroundWordBox">IT in the D What</p>
</div>
@*<p>
    <font size="3">IT in the D is </font><img src="~/Content/Images/10Weeks.png" /><img src="~/Content/Images/PerfectFor.png" /><a href="http://maps.google.com/?q=Compuware World Headquarters, Detroit, MI"><img src="~/Content/Images/GoogleMap.png" /></a>
</p>*@
<div class="whatIs">
    @*<div class="itIsBox">
        <p>IT in the D is</p>
    </div>*@
    @*<div class="itIsBox"><p>
        10 Weeks</p>
    </div>*@
<div id="blackBground">
    <h1>
    IT in the D is a 10 week learning program conducted by volunteer and actively employed IT professionals.</h1>

    <p>
         <img src="~/Content/Images/10Weeks.png" style="margin-left:50px;margin-right:50px"/><img src="~/Content/Images/PerfectFor.png" style="margin-left:50px;margin-right:50px"/><a href="http://maps.google.com/?q=Compuware World Headquarters, Detroit, MI"><img src="~/Content/Images/GoogleMap.png" style="margin-left:50px;margin-right:50px;height:200px;width:200px"/></a>
    </p>


@*    <div class="itIsBox"><p>Perfect for:</p>
        <ul>
            <li>Recent Beginners</li> 
            <li>Amateurs</li>  
            <li>People with prior experience</li>     
        </ul></div>*@
    
    <div class="whatContent"> 
    <h2>    What You Will Learn
    </h2>
 
        <strong>Your choice of:</strong>
        <p>Technical Skills</p>
        <ul>

            <li>Web development: Visual Studio, SQL, ASP.Net MVC and GitHub</li>
            <li>Web Design: User Interface techniques and such tools as Trello and Balsamiq</li>

        </ul>

        <p>Business Analysis</p>
        <ul>
            <li>Analysis of business and user needs and their translation into proper system requirement specifications</li>

            <li>Use of analytics</li>
        </ul>
        <p>Program Management</p>
        <ul>
            <li>Planning, execution and finalization of a project within set timelines and budgetary restrictions</li>
            <li>Includes Agile Development and Social Strategy</li>
        </ul>
        <p>And all gain experience in soft skills</p>
        <ul>
            <li>Responding effectively to what the task entails</li>
            <li>Teamwork and presentation of work</li>
        </ul>
        </div>
    </div>

</div>



