@{
    ViewBag.Title = "IT in the D Who";
}

<div class="mask"></div>
@*
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>*@
<div class="whoBackground">
    <div class="jumplinkSponsor">
        <a href="#Sponsors">Sponsors</a>
    </div>
    @*
    <div class="jumplinkAcademic">
        <a href="#Academics">Academic
            <br />
            Institutions</a>
    </div>*@
    <div class="jumplinkMentor">
        <a href="#Mentors">Mentors</a>
    </div>
    <div class="jumplinkAlumni">
        <a href="#Alumni">Alumni</a>
    </div>

</div>

<div class="whoInfo">
    <a id="Sponsors" />

    <h2 style="color: White">Corporate Sponsors</h2>

    <div class="sponsorDiv">
        <a href="http://www.quickenloans.com/">
            <img src="~/Images/Sponsors/quicken_logo2.jpg" /></a>
        <a href="http://www.fathead.com/">
            <img src="~/Images/Sponsors/fathead2.png" /></a>
        <a href="http://www.galaxesolutions.com/">
            <img src="~/Images/Sponsors/galaxe2.gif" /></a>
        <a href="http://www.compuware.com/en_us.html">
            <img src="~/Images/Sponsors/compuwarelogosmall.png" /></a>
        <a href="http://www.marketingassociates.com/">
            <img src="~/Images/Sponsors/mrktg_assoc_logo2.jpg" /></a>
        <a href="http://www.titlesource.com/">
            <img src="~/Images/Sponsors/TitleSource.jpg" /></a>
    </div>

    @*<a id="Academics"></a>
    <h2 style="color: White">Participating Academic Institutions</h2>

    <img src="~/Content/Images/SpaceSaver.png" border="2" />*@

    <h2 style="color: White">Mentors</h2>
    <a id="Mentors"></a>

    <img src="~/Images/Mentors/dhuston.jpg" class="mentor" data-mentor-name="Dashaun Houston" />
    <img src="~/Images/Mentors/FriesenBrian.jpg" class="mentor" data-mentor-name="Brian Friesen" />
    <img src="~/Images/Mentors/WalkerSonya.png" class="mentor" data-mentor-name="Sonya Walker" />
</div>
<div class="alumni">
    <a id="Alumni"></a>
    <h2 style="color: White">Alumni</h2>
    <img src="~/Images/Alumni/it-in-the-d-2.jpg" class="alumni"/>

@*    <img src="~/Content/Images/SpaceSaver.png" border="2" />*@
</div>

<div class="contactInfo">
    <div class="contactInfoInner">
        <span class="fontawesome-remove-sign"></span>
        <img id="mentorPic" />
        <h1 id="mentorName" style="color: white;">Mentor Name</h1>
        <p id="mentorInfo">Mentor info goes here</p>
        <div class="clear"></div>
    </div>
</div>

<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/mentorModal.js"></script>
