@{
    ViewBag.Title = "IT in the D Who";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
<div class="whoBackground">
    <div class="jumplinkSponsor">
        <A HREF="#Sponsors">Sponsors</A>
    </div>
    <div class="jumplinkAcademic">
        <A HREF="#Academics">Academic <br />Institutions</A>
    </div>
    <div class="jumplinkMentor">
        <A HREF="#Mentors">Mentors</A>
    </div>
    <div class="jumplinkAlumni">
        <A HREF="#Alumni">Alumni</A>
    </div>

</div>

<A id="Sponsors"></A>
<div class="whoInfo">
    <h2 style="color:White">Sponsors</h2>

    <div class="sponsorDiv">
        <a href="http://www.quickenloans.com/">
         <img src="~/Images/Sponsors/quicken_logo2.jpg" /></a>
        <a href="http://www.fathead.com/">
          <img src="~/Images/Sponsors/fathead2.png" /></a>
        <a href="http://www.galaxesolutions.com/">
           <img src="~/Images/Sponsors/galaxe2.gif" /></a>
        <a href="http://www.compuware.com/en_us.html">
           <img src="~/Images/Sponsors/compuwarelogosmall.png" /></a>
        <a href="http://www.marketingassociates.com/">
           <img src="~/Images/Sponsors/mrktg_assoc_logo2.jpg" /></a>
        <a href="http://www.titlesource.com/">
           <img src="~/Images/Sponsors/TitleSource.jpg" /></a>
    </div>

    <A id="Academics"></A>
    <h2 style="color:White">Participating Academic Institutions</h2>

    <img src="~/Content/Images/SpaceSaver.png" border="2" />
    <img src="~/Content/Images/SpaceSaver.png" border="2"/>
    <img src="~/Content/Images/SpaceSaver.png" border="2" />
    <img src="~/Content/Images/SpaceSaver.png" border="2" />
    <img src="~/Content/Images/SpaceSaver.png" border="2"/>

    <A id="Mentors"></A>
    <h2 style="color:White">Mentors</h2>
    
    <img src="~/Images/Mentors/dhuston.jpg" class="mentor" data-mentor-name="Dashaun Houston"/>
    <img src="~/Images/Mentors/FriesenBrian.jpg" class="mentor" data-mentor-name="Brian Friesen"/>
    <img src="~/Images/Mentors/WalkerSonya.png" class="mentor" data-mentor-name="Sonya Walker"/>
    
    @*<div class="mentorBox">
        <h1 id="mentorName">Mentor Name</h1>
        <p id="mentorInfo">Mentor Info</p>
    </div>*@


    <A id="Alumni"></A>
    <h2 style="color:White">Alumni</h2>

    <img src="~/Content/Images/SpaceSaver.png" border="2"/>
    <img src="~/Content/Images/SpaceSaver.png" border="2"/>
    <img src="~/Content/Images/SpaceSaver.png" border="2"/>
    <img src="~/Content/Images/SpaceSaver.png" border="2"/>
    <img src="~/Content/Images/SpaceSaver.png" border="2"/>
    <img src="~/Content/Images/SpaceSaver.png" border="2"/>
    <img src="~/Content/Images/SpaceSaver.png" border="2"/>
    <img src="~/Content/Images/SpaceSaver.png" border="2"/>
    <img src="~/Content/Images/SpaceSaver.png" border="2"/>
    <img src="~/Content/Images/SpaceSaver.png" border="2"/>
</div>

<div class="contactInfo"> 
    <div class="contactInfoInner">
    <span class="fontawesome-remove-sign"></span>
    <img id="mentorPic"/>
    <h1 id="mentorName" style="color: white;">This is the mentor information.</h1> 
    <p id="mentorInfo">This is where your databash get code will go. We'll need to have a look inside you with this camera. No, I'm Santa Claus! Quite possible. We live long and are celebrated poopers. You'll have all the Slurm you can drink when you're partying with Slurms McKenzie</p>
    <div class="clear"></div>
    </div>
</div>

<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/mentorModal.js"></script>
