@{
    ViewBag.Title = "IT in the D Who";
}

<div class="mask"></div>
@*
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>*@
<div class="whoBackground">
    <p class="backgroundWordBox">IT in the D Who</p>
    <div class="jumplinkSponsor">
        <a href="#Sponsors" style="color:white">Sponsors</a>
    </div>

    @*
    <div class="jumplinkAcademic">
        <a href="#Academics">Academic
            <br />
            Institutions</a>
    </div>*@

    <div class="jumplinkMentor">
        <a href="#Mentors" style="color:white">Mentors</a>
    </div>
    <div class="jumplinkAlumni">
        <a href="#Alumni" style="color:white">Alumni</a>
    </div>

</div>

<div class="whoInfo">
    <a id="Sponsors" />

    <h2 style="color: White">Corporate Sponsors</h2>

    <div class="sponsorDiv">
        <a href="http://www.quickenloans.com/">
            <img src="~/Images/Sponsors/quicken_logo2.jpg" /></a>
        <a href="http://www.fathead.com/">
            <img src="~/Images/Sponsors/fathead2.png" /></a>
        <a href="http://www.galaxesolutions.com/">
            <img src="~/Images/Sponsors/galaxe2.gif" /></a>
        <a href="http://www.compuware.com/en_us.html">
            <img src="~/Images/Sponsors/compuwarelogosmall.png" /></a>
        <a href="http://www.marketingassociates.com/">
            <img src="~/Images/Sponsors/mrktg_assoc_logo2.jpg" /></a>
        <a href="http://www.titlesource.com/">
            <img src="~/Images/Sponsors/TitleSource.jpg" /></a>
    </div>


<A name="Mentors"></A>
<h2 style="color:White">Mentors</h2>

    @*<a id="Academics"></a>
    <h2 style="color: White">Participating Academic Institutions</h2>

    <img src="~/Content/Images/SpaceSaver.png" border="2" />*@


<a id="Mentors"></a>

    <img src="~/Images/Mentors/dhuston.jpg" class="mentor" data-mentor-name="Dashaun Houston" />
    <img src="~/Images/Mentors/FriesenBrian.jpg" class="mentor" data-mentor-name="Brian Friesen" />
    <img src="~/Images/Mentors/WalkerSonya.png" class="mentor" data-mentor-name="Sonya Walker" />


<A NAME="Alumni"></A>
<h2 style="color:White">Alumni</h2>

<A HREF="~/Content/Images/Summer 2013 Session.jpg">
<IMG HEIGHT=200 WIDTH=300 SRC="~/Content/Images/Summer 2013 Session.jpg"></A><A HREF="~/Content/Images/Fall 2012 Session.jpg">
<IMG HEIGHT=200 WIDTH=300 SRC="~/Content/Images/Fall 2012 Session.jpg"></A><A HREF="~/Images/Alumni/it-in-the-d-2.jpg">
<IMG HEIGHT=200 WIDTH=300 SRC="~/Images/Alumni/it-in-the-d-2.jpg"></A>
<p class="alumniCaptionSummer2013">Summer 2013</p><p class="alumniCaptionFall2012">Fall 2012</p>
<p class="alumniCaptionFirst">First Iteration</p>


</div>
@*<div class="alumni">
    <a id="Alumni"></a>
    <h2 style="color: White">Alumni</h2>
    <img src="~/Images/Alumni/it-in-the-d-2.jpg" class="alumni"/>



</div>*@

  
    


<div class="contactInfo">
    <div class="contactInfoInner">
        <span class="fontawesome-remove-sign"></span>
        <img id="mentorPic" />
        <h1 id="mentorName" style="color: white;">Mentor Name</h1>
        <p id="mentorInfo">Mentor info goes here</p>
        <div class="clear"></div>
    </div>
</div>

<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/mentorModal.js"></script>

