@{
    ViewBag.Title = "Why";
}

<div id="whyBackground">
    <div style="text-align:center">
        <iframe width="560" height="315" src="//www.youtube.com/embed/cx6Ptw2gnEI" frameborder="0" allowfullscreen>
        </iframe>    
    </div>   
</div>

<div>test div</div>

<div class="infoBox2">
    <div id="live">
        <h1 class="infoBox2Header">Live</h1>
        <p class="infoBox2Content" >"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
             laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
            dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia 
            consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem 
            ipsum quia dolor sit amet, consectetur, adipisci velit
            m nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
    </div>
    <div id="work">
        <h1 class="infoBox2Header">Work</h1>
        <p class="infoBox2Content">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium    
            voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non 
            provident, similique sunt in culpa qui officia deserunt mollitia animi, id est
            laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore</p>
    </div>
    <div id="play">
        <h1 class="infoBox2Header">Play</h1>
        <p class="infoBox2Content"> sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam 
            aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum ex</p>
    </div>
</div>