@{
    ViewBag.Title = "Why";
}

<div id="whyBackground">
  
    <div style="margin-right:10px;margin-bottom:5px">
        <iframe width="300" height="200" src="//www.youtube.com/embed/qOR3X0IU8_U" style="margin-right:75px;margin-bottom:75px"></iframe>    
    
    
        <iframe width="300" height="200" src="//www.youtube.com/embed/7Jjg8gAfJJw" frameborder="0" allowfullscreen style="margin-bottom:75px"></iframe>
    
    
        <iframe width="300" height="200" src="//www.youtube.com/embed/XgqYvwSDHgI" frameborder="0" allowfullscreen style="margin-right:75px"></iframe>
   
    
    <iframe width="300" height="200" src="//www.youtube.com/embed/lsLLaSjZn78" frameborder="0" allowfullscreen></iframe>
        </div>

</div>

<div class="infoBox2">
    <h1 class="infoBox3Header">Live</h1>
    <div id="live">
        
        <p class="infoBox3Content">"The urban energy and residential options in and around downtown Detroit are growing. 
            There are more than 3,000 downtown units, and the influx of new residents is spurring new renovation projects. 
            The city offers historical and architecturally charming buildings with a blend of renovated conveniences."
            <br />
            <a href="http://opportunitydetroit.com/live/"><img src="~/Content/Images/LearnMoreButton.png" /></a>
        </p>
    </div>
    </div>
    <div class="infoBox2">
        <h1 class="infoBox3Header">Work</h1>
        <div id="work">
        
        <p class="infoBox3Content">"Many employers are transferring jobs to the heart of the city. 
            Companies like Quicken Loans, General Motors, Blue Cross Blue Shield of Michigan, Compuware, DTE Energy and a growing variety of others have a strong presence downtown."
            <a href="http://opportunitydetroit.com/work/"><img src="~/Content/Images/LearnMoreButton.png" /></a>
        </p>
    </div>

    </div>
<div class="infoBox2">
    <h1 class="infoBox3Header">Play</h1>
    <div id="play">
        <p class="infoBox3Content"> "Spend a little time in the city and you’ll discover that it’s easy to find good eats, good entertainment and good times. 
            Downtown is home to the Tigers, the Lions and the Red Wings, and Greektown Casino. 
            The vibrant streetscape offers more than 125 restaurants, bars, hotels, theater venues, and a growing array of retail shops."
            <br />
            <a href="http://opportunitydetroit.com/play/"><img src="~/Content/Images/LearnMoreButton.png" /></a>
        </p>

    </div>

</div>
